<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Select all checkboxes by default
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            checkboxes.forEach(checkbox => {
                checkbox.checked = true;
            });
        });
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="background">
        <div class="container">
            <h1>Hello, <input autofocus type="text" placeholder="username" id="username"
                    value="{{ username if username.strip() != '' else '' }}" autocomplete="off">
                <div id="hiddenSizing"></div>
            </h1>
            <form action="{{ url_for('start_test') }}" method="post">
                <label>Select Categories:</label><br>
                <label><input type="checkbox" name="categories" value="fractions"> Fractions</label><br>
                <label><input type="checkbox" name="categories" value="addition"> Addition</label><br>
                <label><input type="checkbox" name="categories" value="subtraction"> Subtraction</label><br>
                <label><input type="checkbox" name="categories" value="patterns"> Patterns</label><br>
                <label><input type="checkbox" name="categories" value="multiplication"> Multiplication</label><br>
                <button type="submit">Start Test</button>
            </form>
            <a href="{{ url_for('statistics') }}">View Statistics</a><br>
            <a href="{{ url_for('view_data') }}">View User Data</a>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const inputField = document.getElementById('username');

            document.getElementById("hiddenSizing").innerText = inputField.value.trim() != "" ? inputField.value : "Username";
            document.getElementById("username").style.width = `${document.querySelector("#hiddenSizing").offsetWidth}px`; 


            inputField.addEventListener('input', function () {
                const username = inputField.value;

                document.getElementById("hiddenSizing").innerText = inputField.value.trim() != "" ? inputField.value : "Username";
                document.getElementById("username").style.width = `${document.querySelector("#hiddenSizing").offsetWidth}px`; 

                fetch('/save_username', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ username: username })
                })
                    .then(response => response.json())
                    .then(data => console.log(data.message))
                    .catch(error => console.error('Error:', error));
            });
        });
    </script>
</body>

</html>