<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <!-- Include MathJax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</head>

<body>
    <div class="background">

        <div class="container">
            <h1>Test</h1>
            <form action="{{ url_for('index') }}">
                <button type="submit"><i class="bx bxs-home"></i></button>
            </form>

            <p class="math">{{ question['question']|safe }}</p>

            <form action="{{ url_for('test') }}" method="post">
                <input autocomplete="off" placeholder="Enter answer here" type="text" name="answer" required />
                <button class="mathSubmit" type="submit">Submit</button>
            </form>
            {% if feedback %}
            <p class="hint">
                {% if feedback["validate"] %}
                {{ feedback["validate"]}}.
                {% elif question['category'] != "fractions" %}
                {{ feedback["general"] }}.
                {% endif %}
                {{ feedback["hint"] }}{% if question['category'] == "fractions" %} Remember to simplify any answers
                given as fractions.{% endif %}
            </p>

            {% endif %}
            {% if show_answer %}
            <p class="math answer">Answer: {{ show_answer|safe }}</p>
            {% endif %}
        </div>
        <div class="overlay" id="overlay"></div>
        <div class="popup" id="popup">
            <a href="{{ url_for('index') }}">
                {% if score == number_of_questions %}
                Amazing job! You got {{ score }} out of {{ number_of_questions }} right!
                {% elif score >= number_of_questions * 0.8 %}
                Great work! You got {{ score }} out of {{ number_of_questions }} right!
                {% elif score >= number_of_questions * 0.5 %}
                Good effort! You got {{ score }} out of {{ number_of_questions }} right!
                {% else %}
                Keep trying! You got {{ score }} out of {{ number_of_questions }} right!
                {% endif %}
            </a>
            <a href="{{ url_for('index') }}" id="closePopup" class="close-btn"><i class='bx bxs-x-circle'></i></a>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                if ("{{ finished }}") {
                    event.preventDefault();
                    document.getElementById("popup").style.display = "block";
                    document.getElementById("overlay").style.display = "block";
                }
            })
        </script>
        <script>
            // Re-render MathJax after the page loads
            document.addEventListener("DOMContentLoaded", function () {
                MathJax.Hub.Queue(["Typeset", MathJax.Hub, "question"]);
                if (document.querySelector(".math")) {
                    MathJax.Hub.Queue(["Typeset", MathJax.Hub, "answer"]);
                }
            });
        </script>
    </div>
</body>

</html>