<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <script>console.log("{{ show_answer }}")</script>
    <h1>Test</h1>
    <script>
    </script>
    <form action="{{ url_for('test') }}" method="post">
        <p>{{ question['question'] }}</p>
        <input type="text" name="answer" required>
        <button type="submit">Submit</button>
    </form>
    {% if show_answer %}
        <p>Answer: {{ show_answer }}</p>
    {% endif %}
</body>
</html>
